﻿
<html>
   <head>
      <title>배열 - 심화/응용</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <link rel="stylesheet" type="text/css" href="./main.css">
	  <link href='./styles/shCore.css' rel='stylesheet' type='text/css'/> 
	  <link href='./styles/shThemeDefault.css' rel='stylesheet' type='text/css'/> 
	  <script src='./scripts/shCore.js' type='text/javascript'></script> 
	  <script src='./scripts/shBrushCpp.js' type='text/javascript'></script>

	  <script language='javascript'> 
	    SyntaxHighlighter.config.bloggerMode = true;
	    SyntaxHighlighter.config.clipboardSwf = '/scripts/clipboard.swf';
	    SyntaxHighlighter.all();
          /* 보충설명 toggle 테스트용입니다. */
          var supple = true;
        function toggleSupply() {
            var list = document.getElementsByClassName("supply");
            var i;
            var change;
            if(supple) {
                change = "none";
                supple =  false;
            }
            else {
                change = "block";
                supple = true;
            }
            for (i = 0; i < list.length; i++) {
                list[i].style.display = change;
            }
        }
        /*짜투리문제용입니다*/
        function c() {
          alert("정답입니다!!");
        }
        function i() {
          alert("다시한번 생각해 보세요.");
        }
	  </script> 
    <style>
       .supply {
       color: red;
        font-size: 10pt;
       }
       </style>
       
   </head>
   <body>
       <!--보충 설명 테스트용 버튼입니다-->
       <button onclick="toggleSupply();">누르면 보충설명이 생기거나 사라집니다</button><br>
       <!--보충 설명 테스트용 버튼입니다-->
   <h3>배열 - 심화/응용</h3>
       <!-- 
       <div class="supply">
       여기는 보충하는 부분입니다.
       <pre class=brush:c>
        #include <stdio.h>
        int main
        {
          /*this page is for supply */
          return 0;
      }
    </pre>
     </div> -->
<!-- 
   <blockquote style='font-style:oblique'>
반복문안에 반복문이 들어가는 형태를 다중 반복문이라 합니다.
이 부분은 안쪽 바깥쪽을 따로 분리시켜 하나로 합치는 방법으로 이해하면 
프로그래밍도 쉽고 재미도 있습니다.
</blockquote>
 -->
<p>
우리가 배열을 선언할 때 <br><br>
자료형 배열이름 [숫자]의 형식으로 선언을 했었죠. 이 때, 배열이름은 변수가 아닙니다.<br><br>
무슨 뜻이냐고요? 절대 배열이름에 다른 값을 넣을 수 없다는 것이죠.<br><br>
기본 강의에서 <b>int a[5]; a={2,4,6,8,10}; 이렇게 따로 작성하면 컴퓨터는 이해하지 못해요!</b>라고 설명한 <br><br>것이 기억나시나요? 저렇게 작성하게 되면 아래와 같은 에러가 뜨게 됩니다.
<br><br>
<img src="./img/arr3.png" width="466" height="53" /><br><br>
<br><br>
배열이름은 변수가 아니라, '배열의 시작 주소를 값으로 갖고 있는 포인터 상수'입니다.<br><br>
그러면 배열의 각각의 요소에 접근하려면 어떻게 해야 하느냐, 배열명과 []안에 요소의 번호를 써주면 됩니다.<br><br>
<1차원 배열(배열명[첨자])><br><br>
1. 1차원 배열에서는 배열이름이 0번째 요소의 시작 주소를 의미합니다.<br><br>
   배열명 => &배열명[0]<br><br>
2.1차원 배열에서는 배열 이름이 배열의 시작 주소를 의미하고 첨자는 상대 번지를 의미합니다.<br><br>
상대 번지까지 가야 배열의 요소에 접근할 수 있게 ‘변수’로 사용 가능합니다.<br><br>
   배열명[첨자] => *(배열명 + 첨자)<br><br>
3. 1차원 배열에서 배열이름 + 첨자를 하게 되면 0번째 요소의 시작 주소에, 자료형의 크기 만큼 증가된 주소를 <br><br>나타내게 됩니다.
요약하자면,  주소 == 배열명 + 첨자<br><br>
  값 == *(배열명 + 첨자) == 배열명[첨자]<br><br>
 
<2차원 배열(배열명[행][열])><br><br>
1.2차원 배열에서는 행 이름이 해당 행의 시작주소를 의미합니다. <br><br>
배열명[0] => &배열명[0][0]<br><br>
배열명[1] => &배열명[1][0]<br><br>
2.2차원 배열에서 행의 이름은 기준 번지를, 열은 상대 번지를 의미합니다.<br><br>
 배열명[행][열] => *(배열명[행]+열)<br><br>
3. 행 이름에 n번지 증가시키면 (요소 1개 크기 *n) 바이트 만큼의 번지가 증가된 주소를 나타냅니다.<br><br>
  배열명[행] + n번지 => 배열명[행] + (n * 요소 1개의 크기만큼의 바이트)<br><br>
4. 그렇다면 2차원 배열에서 배열 이름에 n번지를 증가시키면? N * 한 행의 바이트 수만큼의 번지가 증가된 주소가 <br><br>되겠지요.<br><br>
  배열명 + n번지 => 배열명 + n * 한 행의 바이트 수<br><br>
요약하자면, 주소 == *(배열명 + 행) + 열 == 배열명[행] + 열 == &배열명[행][열]<br><br>
   값   == *(*(배열명 + 행) + 열) == *(배열명[행] + 열) ==  배열명[행][열]<br><br>
<br><br>
3 이상의 다차원 배열의 경우에도 비슷합니다. 가장 마지막 첨자인 열이 상대 번지, 그 앞의 첨자까지가 기준 <br><br>번지이고, 기준 번지까지는 해당 번지의 시작주소를 의미하게 됩니다. 짜투리 문제를 풀면서 정리해보시고, 그래도 이해가 되지 않는다면 Q&A에 질문해 주세요.
<br><br>
<br>
짜투리 문제 1.<br><br>
이 코드의 결과값은 무엇일까요? <br>

<pre class="brush:c">
#include <stdio.h>
int main()
{
int arr[3][4]={{1,2,3,4},{3,4,5,6},{5,6,7,8},{7,8,9,10}};
printf("%d",arr[1]);
  }
</pre>
<br>
</pre>
<button onclick="i();">보기 1: {3,4,5,6}</button><br>
<button onclick="c();">보기 2: 1245036</button><br>
<br>

<div class="supply">
여기서의 배열은 2차원 배열입니다. 그러니 arr[1]은 두번째 행의 이름이겠죠? <br>
2차원 배열에서, 행은 기준 번지이므로 두번째 행의 시작 주소를 출력하게 됩니다.
</div>
<br>
<br>
짜투리 문제 2.<br><br>
이 코드의 결과값은 무엇일까요? <br>

<pre class="brush:c">
#include <stdio.h>
int main()
{
int arr[4]={1,2,3,4};
printf ("%d", *(arr+2)); 
  }
</pre>
<br>
</pre>
<button onclick="i();">보기 1: 1245036</button><br>
<button onclick="c();">보기 2: 3</button><br>
<br>

<div class="supply">
컴퓨터는 배열의 이름을 첫 번째 요소의 시작 주소로 인식한다고 했습니다.<br>
그리고 그러한 배열명에 +첨자(숫자)를 붙여주면 시작 주소에 요소의 크기*숫자만큼 주소가 증가된다고 했죠.<br>
그러니까 위 *(arr+2)가 의미하는 것은 첫 번째 요소에서 두칸 증가한 주소에 있는 숫자. arr[2]와 같은 의미입니다.<br>
따라서 답은 arr[2]=3.
 <br>
</div>
<br>



</p>
<hr>
<a href='/judgeonline/showmessage.php?pname=nested_for '>[질/답]</a>
<div align=right>
<a href="/html/JudgeOnline/index.php">[홈으로]</a>&nbsp;&nbsp;<a href="javascript:history.go(-1)">[뒤 로]</a>
</div>

