body {
  font-family: "Gotham 4r", sans-serif, sans-serif;
  font-weight: normal;
  background-color: #F2F2F2;
  font-weight: normal;
  margin-top: 0; }

h1 {
  font-family: "Gotham 7r", sans-serif, sans-serif;
  font-weight: normal;
  font-size: 140%; }

h2 {
  font-family: "Gotham 5r", sans-serif, sans-serif;
  font-weight: normal; }

a {
  color: #0596CE; }
  a:hover {
    color: #0596CE;
    background: none; }

strong {
  font-family: "Gotham 7r", sans-serif, sans-serif;
  font-weight: normal; }

em {
  font-family: "Gotham 4i", sans-serif, sans-serif;
  font-style: normal; }

strong em,
em strong {
  font-family: "Gotham 7i", sans-serif; }

.clear {
  clear: both; }

html[dir='rtl'] #visualizationColumn {
  right: 0px; }

#visualizationColumn {
  position: relative;
  top: 0px;
  left: 0px;
  overflow-x: hidden; }

#visualizationColumn.embed_hidesource {
  margin: 0 auto; }

#visualizationColumn.pin_bottom {
  position: absolute;
  bottom: 0px;
  overflow-y: hidden; }
  #visualizationColumn.pin_bottom #belowVisualization {
    position: absolute;
    overflow: auto; }
  #visualizationColumn.pin_bottom.embed_hidesource {
    position: relative; }

div.droplet-palette-group-header {
  font-family: "Gotham 4r", sans-serif, sans-serif;
  font-weight: normal;
  line-height: 24px; }

div.droplet-palette-header-row {
  height: 24px; }

div.droplet-palette-group-header:active {
  color: black; }

div.droplet-palette-group-header-selected {
  font-weight: 400;
  color: black; }

div.droplet-palette-group-header.yellow {
  border-left: 10px solid #FFF176; }

div.droplet-palette-group-header-selected.yellow {
  background-color: #FFF176; }

div.droplet-palette-group-header.red {
  border-left: 10px solid #F78183; }

div.droplet-palette-group-header-selected.red {
  background-color: #F78183; }

div.droplet-palette-group-header.cyan {
  border-left: 10px solid #4DD0E1; }

div.droplet-palette-group-header-selected.cyan {
  background-color: #4DD0E1; }

div.droplet-palette-group-header.pink {
  border-left: 10px solid #F57AC6; }

div.droplet-palette-group-header-selected.pink {
  background-color: #F57AC6; }

div.droplet-palette-group-header.lightgreen {
  border-left: 10px solid #D3E965; }

div.droplet-palette-group-header-selected.lightgreen {
  background-color: #D3E965; }

div.droplet-palette-group-header.purple {
  border-left: 10px solid #BB77C7; }

div.droplet-palette-group-header-selected.purple {
  background-color: #BB77C7; }

div.droplet-palette-group-header.blue {
  border-left: 10px solid #64B5F6; }

div.droplet-palette-group-header-selected.blue {
  background-color: #64B5F6; }

div.droplet-palette-group-header.green {
  border-left: 10px solid #68D995; }

div.droplet-palette-group-header-selected.green {
  background-color: #68D995; }

div.droplet-palette-group-header.orange {
  border-left: 10px solid #FFB74D; }

div.droplet-palette-group-header-selected.orange {
  background-color: #FFB74D; }

.droplet-wrapper-div {
  overflow: hidden;
  outline-style: none; }

#show-code-button {
  background-color: #b9bf15;
  border-color: #b9bf15;
  padding: 2px 8px;
  margin: -5px 0 0 6px;
  font-size: small;
  color: white; }
  @media screen and (max-device-width: 540px) {
    #show-code-button {
      display: none; } }

.share-code-spacer {
  min-height: 25px; }

button.arrow {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: #fff;
  margin-left: 5px;
  margin-right: 0px;
  display: none; }

button.arrow > img {
  opacity: 1;
  vertical-align: text-bottom; }

button.arrow:focus {
  outline-style: none; }

button.arrow:disabled {
  border: 1px solid #C7C7C7;
  background-color: #C7C7C7; }

#soft-buttons {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px; }
  #soft-buttons.soft-buttons-none {
    display: none; }

.soft-buttons-1 {
  display: table-cell;
  vertical-align: top;
  min-width: 51px; }

.soft-buttons-2 {
  display: table-cell;
  vertical-align: top;
  min-width: 102px; }

.soft-buttons-3 {
  display: table-cell;
  vertical-align: top;
  min-width: 153px; }

.soft-buttons-4 {
  display: table-cell;
  vertical-align: top;
  min-width: 204px; }

#codeTextbox {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 0px;
  font-size: 14px;
  overflow: hidden;
  min-height: calc(50% - 16px) !important; }

#codeTextbox.pin_bottom {
  border: 1px solid #ddd; }

html[dir='rtl'] #codeWorkspace {
  right: 400px;
  left: 0px;
  margin-right: 15px;
  margin-left: 0px; }

#codeWorkspace {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 400px;
  bottom: 0;
  margin-left: 15px;
  border: 1px solid #ddd;
  overflow: hidden; }

#codeWorkspace.pin_bottom {
  border: none;
  border-top: 1px solid #ddd; }

#codeWorkspace.readonly .blocklySvg,
#codeWorkspace.readonly .droplet-main-scroller,
#codeWorkspace.readonly .ace_scroller, #codeWorkspace.dimmed .blocklySvg,
#codeWorkspace.dimmed .droplet-main-scroller,
#codeWorkspace.dimmed .ace_scroller {
  background-color: rgba(0, 0, 0, 0.1); }

.ace-chrome .ace_marker-layer .ace_error {
  background: #e82f19; }

.ace_marker-layer .ace_error {
  position: absolute;
  z-index: 3; }

.ace_gutter-cell.ace_breakpoint, .droplet-gutter-line.droplet_breakpoint {
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 0px 0px 40px rgba(0, 0, 255, 0.5) inset;
  color: white; }

.ace_gutter-cell.ace_error, .droplet-gutter-line.droplet_error {
  background-image: url("/blockly/media/common_images//gutterError.png");
  background-size: 16px 16px;
  background-repeat: no-repeat; }

.droplet-gutter-line.droplet_error, .droplet-gutter-line.droplet_warning {
  background-position: 2px center; }

.ace_gutter-cell.ace_warning, .droplet-gutter-line.droplet_warning {
  background-image: url("/blockly/media/common_images//gutterWarn.png");
  background-size: 16px 16px;
  background-repeat: no-repeat; }

.ace_gutter-cell.ace_error, .ace_gutter-cell.ace_warning {
  background-position: 2px 0px; }

#visualizationResizeBar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  left: 400px;
  cursor: ew-resize;
  text-align: center;
  color: #c6cacd;
  font-size: 24px;
  line-height: 400px; }

#visualization {
  position: relative;
  height: 400px;
  margin-bottom: 5px; }

.bee-counter-text {
  text-anchor: end;
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 1;
  cursor: default; }

/* Shrink the visualization area on small displays. */
#visualizationEditor.responsive {
  margin-left: 400px;
  padding-left: 15px; }

#visualization.responsive > * {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }
  html[dir="RTL"] #visualization.responsive > * {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0; }

/* Make buttons, videos, etc. clickable. Otherwise, the scaled svg/canvas
 * obscures clicks on its original, unscaled position.  */
#belowVisualization {
  z-index: 1;
  position: relative; }

@media screen and (min-width: 1101px) and (max-width: 1150px) {
  #visualization.responsive {
    max-height: 350px;
    max-width: 350px; }
  #visualizationColumn.responsive {
    max-width: 350px; }
  .small-footer-base.responsive {
    max-width: 350px; }
  #codeWorkspace {
    left: 350px; }
  html[dir='rtl'] #codeWorkspace {
    right: 350px; }
  div#visualizationResizeBar {
    left: 350px;
    line-height: 350px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 350px; }
  #visualizationEditor.responsive {
    margin-left: 350px; }
  #visualization.responsive > * {
    -webkit-transform: scale(0.875);
    -ms-transform: scale(0.875);
    transform: scale(0.875); }
  .bee-counter-text {
    font-size: 20px;
    stroke-width: 1.2px; } }

@media screen and (min-width: 1051px) and (max-width: 1100px) {
  #visualization.responsive {
    max-height: 300px;
    max-width: 300px; }
  #visualizationColumn.responsive {
    max-width: 300px; }
  .small-footer-base.responsive {
    max-width: 300px; }
  #codeWorkspace {
    left: 300px; }
  html[dir='rtl'] #codeWorkspace {
    right: 300px; }
  div#visualizationResizeBar {
    left: 300px;
    line-height: 300px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 300px; }
  #visualizationEditor.responsive {
    margin-left: 300px; }
  #visualization.responsive > * {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75); }
  .bee-counter-text {
    font-size: 24px;
    stroke-width: 1.4px; } }

@media screen and (min-width: 1001px) and (max-width: 1050px) {
  #visualization.responsive {
    max-height: 250px;
    max-width: 250px; }
  #visualizationColumn.responsive {
    max-width: 250px; }
  .small-footer-base.responsive {
    max-width: 250px; }
  #codeWorkspace {
    left: 250px; }
  html[dir='rtl'] #codeWorkspace {
    right: 250px; }
  div#visualizationResizeBar {
    left: 250px;
    line-height: 250px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 250px; }
  #visualizationEditor.responsive {
    margin-left: 250px; }
  #visualization.responsive > * {
    -webkit-transform: scale(0.625);
    -ms-transform: scale(0.625);
    transform: scale(0.625); }
  .bee-counter-text {
    font-size: 28px;
    stroke-width: 1.6px; } }

@media screen and (max-width: 1000px) {
  #visualization.responsive {
    max-height: 200px;
    max-width: 200px; }
  #visualizationColumn.responsive {
    max-width: 200px; }
  .small-footer-base.responsive {
    max-width: 200px; }
    .small-footer-base.responsive small {
      float: left; }
  #codeWorkspace {
    left: 200px; }
  html[dir='rtl'] #codeWorkspace {
    right: 200px; }
  div#visualizationResizeBar {
    left: 200px;
    line-height: 200px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 200px; }
  #visualizationEditor.responsive {
    margin-left: 200px; }
  #visualization.responsive > * {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  .bee-counter-text {
    font-size: 32px;
    stroke-width: 2px; } }

/* Buttons */
button, label.img-upload {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: black; }

button.launch {
  border: 1px solid #ffa400;
  background-color: #ffa400;
  color: white;
  font-size: large;
  min-width: 96px;
  margin-left: 0px;
  margin-right: 10px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left; }

html[dir="RTL"] button.launch {
  text-align: right; }

button.launch > img {
  opacity: 1;
  vertical-align: text-bottom; }

button.blocklyLaunch {
  display: inline-block;
  border: 1px solid #ffa400;
  background-color: #ffa400;
  padding: 7px 10px 7px 6px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left; }
  button.blocklyLaunch.hide {
    display: none; }
  @media screen and (min-width: 1051px) {
    button.blocklyLaunch {
      min-width: 111px; } }
  button.blocklyLaunch img {
    float: left;
    margin-top: 0px;
    margin-left: 6px; }
  button.blocklyLaunch div {
    text-align: left;
    margin-top: 3px;
    margin-right: 4px;
    float: right;
    padding: 0px;
    margin-left: 6px; }
    @media screen and (min-width: 1051px) {
      button.blocklyLaunch div {
        min-width: 45px; } }
  html[dir="RTL"] button.blocklyLaunch {
    margin-right: 0px; }
  button.blocklyLaunch#resetButton {
    border: 1px solid #0094ca;
    background-color: #0094ca; }

button.share {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: white;
  margin-left: 0px;
  margin-right: 0px; }

button.share:focus {
  outline-style: none; }

button:hover > img {
  opacity: 1; }

button:active {
  border: 1px solid #888 !important; }

button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

button.disabled, button[disabled=disabled], button:disabled {
  border: 1px solid #C7C7C7;
  background-color: #C7C7C7;
  box-shadow: none; }
  button.disabled:hover, button[disabled=disabled]:hover, button:disabled:hover {
    box-shadow: none; }

button.disabled:hover > img {
  opacity: 0.6; }

button.disabled {
  display: none; }

button.notext {
  font-size: 10%; }

label.img-upload {
  display: inline-block;
  vertical-align: middle; }

input[type="radio"] {
  margin-left: 40px;
  margin-right: 10px; }

@media screen and (max-width: 1050px) {
  #stepButton {
    min-width: 0; } }

#learn h1 {
  margin: 20px 0px 0px 0px; }

#learn img {
  margin-bottom: 5px; }

#learn a {
  display: block; }

#make-your-own-button {
  margin: 5px 0px 5px 0px; }

#open-workspace {
  margin: 5px 0px 5px 0px; }

#gameButtons {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }

#gameButtons:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0; }

#slider-cell {
  display: inline-block;
  vertical-align: top;
  touch-action: none;
  -ms-touch-action: none; }

#slider {
  display: inline-block;
  vertical-align: middle; }

#spinner {
  display: inline-block;
  vertical-align: middle; }

/* Dialogs */
#help {
  padding: 0 10px;
  display: none; }

#dialog {
  visibility: hidden;
  background-color: white;
  color: black;
  border: 1px solid black;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 20000; }

#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }

#dialogShadow {
  height: 100%;
  width: auto;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 1; }

.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear; }

.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.trophy {
  min-width: 100px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  max-width: 100px;
  margin-bottom: 10px; }

.trophyimg {
  width: 80px;
  height: 80px; }

#dialog button {
  min-width: 4em; }

.feedback {
  font-size: 30px;
  margin: 20px 0px 20px 0px;
  line-height: 28px;
  color: #7E5BA0;
  font-family: "Gotham 7r", sans-serif;
  font-weight: normal; }

#show-code {
  margin-bottom: 5px; }

#hint {
  color: white;
  padding: 5px 1em;
  font-size: large; }

#puzzleRatingButtons hr {
  border-top: 2px solid #ccc; }

#puzzleRatingButtons p {
  float: left;
  font-size: 16px;
  color: #949ca2;
  margin-right: 10px; }

#puzzleRatingButtons svg {
  pointer-events: none; }

#puzzleRatingButtons .puzzle-rating-btn {
  fill: #949ca2;
  padding: 0 5px;
  cursor: pointer;
  display: inline-block; }
  #puzzleRatingButtons .puzzle-rating-btn#like:hover {
    fill: #333333; }
  #puzzleRatingButtons .puzzle-rating-btn#like.enabled {
    fill: #FF3014; }
  #puzzleRatingButtons .puzzle-rating-btn#like.enabled:hover {
    fill: #7F150A; }
  #puzzleRatingButtons .puzzle-rating-btn#dislike:hover {
    fill: #4D4D4D; }
  #puzzleRatingButtons .puzzle-rating-btn#dislike.enabled {
    fill: #0094CA; }
  #puzzleRatingButtons .puzzle-rating-btn#dislike.enabled:hover {
    fill: #00647F; }

/* Instructions. */
#bubble {
  color: black;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer; }

#prompt-table {
  display: inline-block;
  vertical-align: top; }

#prompt-icon-cell {
  vertical-align: top;
  width: 50px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: auto; }

#prompt-cell {
  vertical-align: top; }

#prompt2 {
  font-size: 12px;
  color: #5b6770; }

#ani-gif-preview-wrapper {
  display: inline-block;
  vertical-align: top; }

#ani-gif-preview {
  display: table-cell;
  background-size: 80px 60px;
  width: 80px;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  border-radius: 12px; }
  #ani-gif-preview #play-button {
    clear: both;
    height: 40px;
    position: relative; }

/* Place ani-gif next to text for column width 300px or wider. */
@media screen and (min-width: 1051px) {
  #prompt-table.with-ani-gif {
    margin-right: 80px;
    padding-right: 5px; }
  #ani-gif-preview-wrapper {
    position: absolute;
    right: 0px;
    top: 0px; } }

.workspace-header {
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  height: 30px;
  color: white; }
  .workspace-header .workspace-header-clickable:hover {
    cursor: pointer;
    color: #ffb81d; }
  .workspace-header span {
    line-height: 30px; }
  .workspace-header .fa {
    font-size: 18px; }

.workspace-header-button {
  cursor: pointer;
  float: right;
  overflow: hidden;
  background-color: #a69bc1;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 0;
  border: 1px groove #949ca2;
  height: 22px;
  border-radius: 4px;
  font-family: "Gotham 5r", sans-serif; }
  .workspace-header-button:hover {
    background-color: #0094ca; }
  .workspace-header-button span {
    padding: 0 12px;
    line-height: 22px; }
  .workspace-header-button .fa {
    line-height: 22px;
    padding-right: 8px;
    font-size: 15px; }
  .workspace-header-button .fa-code {
    font-weight: bold; }
  .workspace-header-button .blocks-glyph {
    display: none;
    height: 18px;
    vertical-align: text-bottom;
    padding-right: 8px; }

#versions-header {
  display: none; }

#design-headers {
  height: 30px;
  background-color: #7665a0;
  overflow-y: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.readonly #headers,
.readonly #design-headers {
  background-color: #5b6770; }

#headers {
  height: 30px;
  background-color: #7665a0;
  overflow-y: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #headers #show-toolbox-icon, #headers #hide-toolbox-icon {
    position: absolute;
    top: 0;
    left: 8px;
    line-height: 30px;
    color: #cfc9de; }
  #headers #hide-toolbox-icon {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); }
  #headers #toolbox-header {
    width: 270px;
    border-right: 1px solid gray;
    float: left; }
    #headers #toolbox-header.toggleable {
      cursor: pointer; }
      #headers #toolbox-header.toggleable:hover .fa {
        color: white; }
  #headers #show-toolbox-header {
    border: 0;
    float: left;
    padding: 0 10px;
    cursor: pointer; }
    #headers #show-toolbox-header:hover .fa {
      color: white; }
    #headers #show-toolbox-header > span {
      margin: auto 18px; }
  #headers #blockCounter, #headers #blockUsed {
    display: inline-block; }
  #headers #clear-puzzle-header:hover {
    background-color: #c00; }
  #headers .block-counter-default {
    color: white; }
  #headers .block-counter-overflow {
    color: #ffb81d; }

#headers[dir=rtl] div {
  margin-right: 0; }

#headers[dir=rtl] #show-toolbox-icon, #headers[dir=rtl] #hide-toolbox-icon {
  left: auto;
  right: 8px; }

#headers[dir=rtl] #show-toolbox-icon {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

#headers[dir=rtl] #hide-toolbox-icon {
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none; }

#headers[dir=rtl] #toolbox-header {
  border-right: 0;
  border-left: 1px solid gray;
  float: right; }

#headers[dir=rtl] #show-toolbox-header {
  float: right; }

#headers[dir=rtl] .workspace-header-button {
  margin-left: 3px;
  margin-right: 0;
  float: left; }
  #headers[dir=rtl] .workspace-header-button .fa {
    padding-right: 0;
    padding-left: 8px; }
  #headers[dir=rtl] .workspace-header-button .blocks-glyph {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    padding-right: 0;
    padding-left: 8px; }

#showVersionsModal {
  width: 700px;
  margin-left: -350px; }

#showVersionsModal .versionRow p {
  margin: 15px 0 0 0; }

#rotateContainer {
  position: fixed;
  z-index: 10001;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }
  #rotateContainer #rotateText {
    position: relative;
    top: 50%;
    left: -50%;
    margin-left: 50px;
    margin-right: -50px; }
  #rotateContainer p {
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }
  @media screen and (orientation: portrait) and (max-device-width: 900px) {
    #rotateContainer {
      display: block; } }

.blocklyText, .blocklyMenuText, .blocklyTreeLabel, .blocklyHtmlInput,
.blocklyIconMark, .blocklyTooltipText, .goog-menuitem-content {
  font-family: "Gotham 4r", sans-serif, sans-serif;
  font-weight: normal; }

.blocklyRectangularDropdownMenu .goog-menuitem-highlight, .blocklyRectangularDropdownMenu .goog-menuitem-hover {
  background-color: rgba(255, 255, 255, 0.35); }

.blocklyRectangularDropdownMenu:not(.blocklyGridDropdownMenu) {
  border-color: #545454 !important; }

.blocklyRectangularDropdownMenu.blocklyGridDropdownMenu {
  background-color: white !important;
  padding-top: 5px !important; }
  .blocklyRectangularDropdownMenu.blocklyGridDropdownMenu .goog-menuitem {
    display: inline-block;
    margin-left: 4px;
    margin-top: 4px; }
  .blocklyRectangularDropdownMenu.blocklyGridDropdownMenu .goog-menuitem-highlight, .blocklyRectangularDropdownMenu.blocklyGridDropdownMenu .goog-menuitem-hover {
    margin: -4px -4px 0 0 !important; }

.generated-code-container {
  margin-top: 10px; }
  .generated-code-container .generatedCodeMessage {
    font-size: 14px;
    line-height: inherit;
    color: #5b6770;
    margin-bottom: 10px; }
    .generated-code-container .generatedCodeMessage a {
      font-family: "Gotham 7r", sans-serif;
      font-weight: normal;
      color: #7665a0; }
      .generated-code-container .generatedCodeMessage a:hover {
        text-decoration: underline; }
  .generated-code-container .generatedCode {
    font-size: 14px;
    overflow: scroll;
    max-height: 400px; }

.light-yellow-background {
  background-color: #fff7df; }

.white-background {
  background-color: white; }

.arrow-container {
  background-color: white !important; }

.arrow-container.arrow-left {
  float: left; }

.arrow-container.arrow-right {
  float: right; }

.arrow-head, .arrow-text {
  float: left;
  line-height: normal;
  margin-bottom: 25px;
  cursor: pointer; }

.arrow-right .arrow-head {
  float: right; }

.arrow-left .arrow-head {
  margin-right: -10px; }

.arrow-left .arrow-text {
  border-radius: 0 8px 8px 0;
  padding: 10px 14px 10px 0;
  background-color: #babf33; }

.arrow-right .arrow-text {
  margin-right: -10px;
  border-radius: 8px 0 0 8px;
  padding: 10px 0 10px 14px;
  background-color: #ffbb00; }

.arrow-text {
  color: white;
  font-size: 35px;
  margin-top: 35px;
  height: 44px; }

#again-button:not(.arrow-container) {
  background-color: #b9bf15;
  border: 1px solid #b9bf15;
  color: white;
  margin-left: 0px;
  margin-right: 10px; }

#continue-button:not(.arrow-container), #confirm-button:not(.arrow-container) {
  background-color: #ffa400;
  border: 1px solid #ffa400;
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center; }

#save-to-gallery-button {
  background-color: #7665a0;
  border: 1px solid #7665a0;
  margin: 0px;
  color: white;
  width: 48.5%;
  font-size: 13px;
  text-align: center; }
  #save-to-gallery-button:disabled {
    color: #7665a0;
    background-color: lightgrey; }

#print-button {
  background-color: #7665a0;
  border: 1px solid #7665a0;
  color: white;
  margin: 0px;
  width: 48.5%;
  font-size: 13px;
  text-align: center; }

#shapeways-print-go-button {
  margin-bottom: 10px; }

#shapeways-message-body {
  font-size: 15px;
  margin-bottom: 7px;
  line-height: 26px; }

#shapeways-message-body-disclaimer {
  font-size: 11px;
  margin-bottom: -11px; }

#shapeways-message {
  display: block;
  text-align: center; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.hide-source #visualization {
  display: inline-block; }

.hide-source #belowVisualization {
  display: inline-block;
  vertical-align: top; }

.hide-source #bubble {
  display: none; }

.sharing {
  float: left;
  margin-top: 15px;
  font-size: 20px;
  color: #5b6770; }
  .sharing label {
    margin-top: 15px;
    font-size: 20px;
    color: #5b6770; }
  .sharing div {
    margin-bottom: 15px; }
  .sharing .saved-to-gallery {
    width: 48.5%;
    font-size: 13px;
    margin: 0px;
    border: 1px solid #7665a0; }
  .sharing .social-buttons a:hover {
    text-decoration: none; }
  .sharing #sharing-input {
    cursor: copy;
    margin: 0;
    width: 260px; }
  .sharing input#phone {
    height: 30px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    width: 10em;
    font-family: sans-serif; }
  .sharing div#phone-charges {
    font-size: 10px;
    margin-top: 0px;
    color: red; }

.run26 {
  width: 26px;
  height: 26px;
  background: url("/blockly/media/common_images/shared-sprites-26x26.png") 0px 0px; }

.reset26 {
  width: 26px;
  height: 26px;
  background: url("/blockly/media/common_images/shared-sprites-26x26.png") 0px 26px; }

#stepButton {
  margin-right: 0;
  text-align: center; }

#share-fail-explanation {
  font-size: 20px; }

.share-fail-excerpt .generatedCode {
  font-size: 14px; }

body.readonly {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent; }

body.readonly #codeWorkspace {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border: none; }

body.readonly #codeWorkspace > svg {
  background-color: transparent;
  border: none; }

body.readonly.embed-block #codeWorkspace .userHidden {
  display: none; }

.tooltip-example-link, .tooltip-choose-link {
  margin-top: 5px;
  float: right; }

.tooltip-example-link > a:hover, .tooltip-example-link > a:link, .tooltip-example-link > a:active, .tooltip-example-link > a:visited, .tooltip-choose-link > a:hover, .tooltip-choose-link > a:link, .tooltip-choose-link > a:active, .tooltip-choose-link > a:visited {
  border-bottom: 3px solid #ffb81d;
  color: white;
  font-family: "Gotham 5r", sans-serif; }

.tooltip-choose-link {
  float: left; }

.function-name {
  font-family: "Source Code Pro", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 7px; }

.current-tooltip-parameter-name {
  border-bottom: 3px solid #ffb81d; }

.droplet-block-tooltipster {
  border-radius: 14px;
  border: none;
  background: #0094ca;
  color: white;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3); }

.droplet-block-tooltipster .tooltipster-content {
  font-family: "Gotham 4r", sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
  font-weight: normal; }

.droplet-hover-div {
  max-width: 100% !important; }
